@import url("https://fonts.googleapis.com/css2?family=Overpass&family=Permanent+Marker&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

.pageContainer {
  width: 100vw;
  height: 300vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e7e5ee;
  background-size: cover;
  background-repeat: repeat-y;
}

.contentContainer {
  width: 40%;
  background-color: #e7e5ee;
  background-size: cover;
  border-radius: 50px;
  margin: 1%;
  box-shadow: 13px 13px 26px #d7d5dd, -13px -13px 26px #f7f5ff;
  transition: transform 0.5s ease-in-out;
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h4 {
  font-size: 150%;
  font-family: "Permanent Marker";
  margin: 3%;
}

.contentContainer:hover a {
  text-decoration: underline;
  color: blue;
}

a {
  width: 80%;
  font-family: "Overpass";
  text-decoration: none;
  color: black;
}

img {
  width: 50%;
  height: auto;
  border-radius: 50px;
  box-shadow: 13px 13px 26px #d7d5dd, -13px -13px 26px #f7f5ff;
}

@media only screen and (max-width: 1250px) {
  h4 {
    font-size: 115%;
  }
}

@media only screen and (max-width: 900px) {

  h4 {
    font-size: 150%;
  }

  .pageContainer {
    height: 400vh;
  }

  .contentContainer {
    width: 80%;
  }
}

/* @import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oswald:wght@600&display=swap");

html,
body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageContainer {
  width: 98vw;
  height: 98vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 1vh 1vw;
}

.contentContainer {
  position: relative;
  background-color: #dddfd4;
  overflow: hidden;
  transition: transform 0.7s ease-in-out;
  border-radius: 50px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to bottom right, #3fb0ac, #fae596);
  color: black;
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer:nth-of-type(3n + 2) {
  background-image: linear-gradient(to bottom, #3fb0ac, #fae596);
}

.contentContainer:nth-of-type(3n) {
  background-image: linear-gradient(to bottom left, #3fb0ac, #fae596);
}

.contentContainer:hover {
  z-index: 2;
  transform: scale(1.05, 1.05);
}

.contentContainer:hover h4 {
  font-size: 110%;
}

.contentContainer:hover p {
  opacity: 100%;
  bottom: 40px;
  font-size: 110%;
}

h4,
p {
  z-index: 1;
  width: 80%;
}

h4 {
  position: absolute;
  top: 10px;
  text-align: center;
  font-family: "Oswald";
  font-size: 150%;
  transition: font-size 0.7s ease-in-out;
  margin: 0;
}

p {
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-family: "EB Garamond";
  font-size: 75%;
  opacity: 0%;
  transition: font-size 0.7s ease-in-out;
  transition: bottom 0.7s ease-in-out;
}

form {
  z-index: 1;
  width: 25%;
  height: 10%;
  opacity: 0;
  position: absolute;
  bottom: 2px;
  transition: opacity 0.7s ease-in-out;
}

.button {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: #3fb0ac;
}

img {
  position: absolute;
  opacity: 0%;
  left: 0px;
  top: 0px;
  height: 120%;
  object-position: 50% 50%;
  z-index: 0;
  transition: opacity 0.7s ease-in-out;
}

.contentContainer:hover img {
  opacity: 15%;
}

.contentContainer:hover form {
  opacity: 1;
}

@media only screen and (max-width: 1250px) {
  h4 {
    font-size: 115%;
  }
}

@media only screen and (max-width: 900px) {
  body {
    height: 205vh;
  }

  h4 {
    font-size: 150%;
  }
  .pageContainer {
    height: 200vh;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  body {
    height: 305vh;
  }
  .pageContainer {
    height: 300vh;
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  h4 {
    font-size: 175%;
  }
} */